.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .news-form {
    width: max(20rem, 100%);
    display: flex;
    flex-direction: column;
    .collapse {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--theme-base);
      font-size: 1.3rem;
      padding: 1rem;
      font-weight: bold;
      border-radius: 8px 8px 0 0;
      text-align: center;
      border: none;
      color: inherit;
      &.closed {
        border-radius: 8px;
        margin-bottom: 1rem;
      }
      &:hover {
        cursor: pointer;
      }
      .collapse-indicator {
        padding: 0.2rem;
        background-color: var(--theme-text);
        color: var(--theme-base);
        border-radius: 50%;
      }
    }
    .collapsible-form {
      border-radius: 0 0 8px 8px;
      padding: 0px 1rem;
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--theme-base);
      display: none;
      margin-bottom: 1rem;
      &.open {
        display: flex;
      }
      .labeled-input {
        margin: 0.5rem 0;
        width: 100%;
      }
      .button {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
  main {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 2.5rem;
      font-weight: bold;
    }
    .published-news {
      margin-bottom: 1rem;

      h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
    .news-container {
      display: grid;
      justify-content: center;
      gap: 1rem;
      @media (width <= 800px) {
        grid-template-columns: 1fr;
      }
      @media (800px < width <=1200px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (width > 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
