.info-banner {
  background-color: var(--theme-blue);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .info-header {
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 8px;
  }
  .info-content {
    font-weight: 500;
    word-break: break-word;
    white-space: pre-wrap;
  }
  &.note {
    background-color: var(--theme-base);
    color: var(--theme-text);
    .collapse-details {
      .collapse-details-icon {
        color: var(--theme-base);
        background-color: var(--theme-text);
      }
    }
  }
  &.information {
    background-color: var(--theme-blue);
    color: var(--theme-mantle);
    .collapse-details {
      .collapse-details-icon {
        color: var(--theme-blue);
        background-color: var(--theme-crust);
      }
    }
  }
  &.warning {
    background-color: var(--theme-yellow);
    color: var(--theme-mantle);
    .collapse-details {
      .collapse-details-icon {
        color: var(--theme-yellow);
        background-color: var(--theme-crust);
      }
    }
  }
  &.error {
    background-color: var(--theme-red);
    color: var(--theme-mantle);
    .collapse-details {
      .collapse-details-icon {
        color: var(--theme-red);
        background-color: var(--theme-crust);
      }
    }
  }
  .collapse-details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bolder;
    font-size: 1.1rem;
    &:hover {
      cursor: pointer;
    }
    .collapse-details-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
      border-radius: 50%;
    }
  }
  .collapsible-details {
    display: none;
    word-break: break-word;
    white-space: pre-wrap;
  }
  .collapsible-details.open-details {
    display: block;
  }
}
