.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__description {
  font-size: 1.5rem;
  margin-bottom: 16px;
}
.contact__info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact__link {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
