.portfolio__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__section-button {
  font-size: 1rem;
  color: var(--theme-text);
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
  background-color: var(--theme-base);
  margin-bottom: 50px;
  border-radius: 1.5rem;
  align-self: center;
}
.portfolio-section {
  width: 80%;
  margin-bottom: 50px;
}
