.portfolio {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 600px;
      width: 100%;
      .hero {
        box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
        height: 500px;
        width: clamp(300px, 80%, 900px);
        background-color: var(--theme-base);
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 16px;
        padding: 16px 32px;

        padding: 16px;
        .hero-content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 32px;
          flex-wrap: wrap-reverse;
          .info-column {
            display: flex;
            flex-direction: column;
            .name {
              font-size: 3rem;
              text-align: center;
            }
            .description {
              font-size: 2rem;
              color: var(--theme-subtext0);
              text-align: center;
            }
          }
          .photo-container {
            .photo {
              background-color: var(--theme-surface1);
              box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
              width: clamp(150px, 20vw, 200px);
              aspect-ratio: 1/1;
              object-fit: cover;
              border-radius: 2rem;
            }
          }
        }
      }
    }
    .section-title {
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 8px 16px;
      background-color: var(--theme-base);
      margin-bottom: 50px;
      border-radius: 1.5rem;
      align-self: center;
      &:hover {
        cursor: pointer;
      }
    }
    .about-container {
      box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 80%;
      background-color: var(--theme-base);
      border-radius: 16px;
      margin-bottom: 50px;
      .about {
        padding: 32px;
        width: max(100%, 70vw);
        display: flex;
        flex-direction: column;
        align-items: start;
        .about-description {
          font-weight: 400;
          font-size: 2rem;
        }
        .info-list {
          .info-section {
            .title {
              font-size: 2rem;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 16px;
            }
            .info-item {
              padding: 16px;
              background-color: var(--theme-surface0);
              border-radius: 8px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 16px;
              .info-content {
                display: flex;
                flex-direction: column;
                h4 {
                  font-weight: 600;
                  font-size: 1.5rem;
                }
                .info {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  flex-wrap: wrap;
                  gap: 0.3rem;
                  * {
                    color: var(--theme-subtext0);
                  }
                }
                .date {
                  color: var(--theme-subtext0);
                }
              }
            }
          }
        }
      }
    }
    .tech-stack {
      box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
      border-radius: 16px;
      width: 80%;
      background-color: var(--theme-base);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px;

      margin-bottom: 50px;

      h2 {
        font-size: 2rem;
        display: flex;
        align-items: center;
        align-self: flex-start;
        gap: 16px;
      }
      .tech-columns {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        .tech-description {
          font-size: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-items: center;
          justify-content: center;
          gap: 16px;
        }
        .tech-stack-list {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 8px;
          .tech-stack-section {
            padding: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
              display: flex;
              gap: 8px;
              align-items: center;
              justify-content: center;
              background-color: var(--theme-surface0);
              padding: 8px 32px;
              border-radius: 16px;
              margin-bottom: 16px;
              text-align: center;
            }
            ul {
              display: grid;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              padding: 8px;

              @media (width <= 340px) {
                grid-template-columns: 80%;
                justify-content: space-evenly;
              }
              @media (341px < width <=1000px) {
                grid-template-columns: 40% 40%;
              }

              @media (690px < width <=1000px) {
                grid-template-columns: 30% 30% 30%;
              }
              @media (width > 1001px) {
                grid-template-columns: 20% 20% 20% 20%;
              }

              li {
                justify-self: center;
                .tech-stack-item {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  text-align: center;
                  margin: 8px;
                  .icon {
                    min-width: max(3rem, 40px);
                    width: 90px;
                    aspect-ratio: 1/1;
                  }
                  .name {
                    font-size: 1.2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    .projects-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      padding: 32px;
      ul {
        display: flex;
        gap: 16px;
        justify-content: center;
        flex-wrap: wrap;
        li {
          background-color: var(--theme-base);
          width: 300px;
          border-radius: 16px;
          box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
          .project-container {
            text-decoration: none;
            .project-image {
              width: 100%;
              border-radius: 16px 16px 0 0;
              aspect-ratio: 16/9;
              background-color: var(--theme-surface1);
              border: none;
              object-fit: cover;
            }
            .project-content {
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: flex-start;
              padding: 16px;
              .project-title {
                font-weight: bold;
                color: var(--theme-text);
              }
              .project-description {
                color: var(--theme-subtext0);
              }
            }
          }
        }
      }
    }
    .contact {
      border-radius: 16px;
      width: 80%;
      background-color: var(--theme-base);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px;
      margin-bottom: 50px;
      width: 80%;
      span {
        font-size: 1.5rem;
        margin-bottom: 16px;
      }
      .contact-info {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        a {
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          gap: 4px;
          text-decoration: none;
        }
      }
    }
  }
}
