.about__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about__header {
  font-size: 2rem;
}
.about__list-title {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  gap: 0.5rem;
}
