.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  form {
    background-color: var(--theme-base);
    padding: 2rem min(4rem, 10%);
    width: clamp(20rem, 90%, 40rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    border-radius: 4px;
    .labeled-input {
      label {
        font-weight: bold;
      }

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 0.5rem;
      input {
        color: var(--theme-text);
        background-color: var(--theme-mantle);
        resize: none;
        border: none;
        width: 100%;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0px 0px 5px 2px inset rgba(0, 0, 0, 0.1);
      }
    }
    .login-button-row {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      a,
      button {
        padding: 0.8rem 1rem;
        align-self: center;
        border-radius: 8px;
        font-weight: bold;
        flex-grow: 1;
        border: none;
        color: var(--theme-crust);
        &:hover {
          cursor: pointer;
        }
        &.login {
          background-color: var(--theme-blue);
        }
        &.create {
          color: var(--theme-text);
          background-color: var(--theme-surface0);
        }
      }
    }
  }
  .status {
    width: clamp(20rem, 90%, 40rem);
  }
}
