.news-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--theme-base);
  border-radius: 8px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
.news-item--open-actions {
  border-radius: 8px 8px 0 0;
}
.news-item__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--theme-text);
  word-break: break-word;
  white-space: pre-wrap;
  padding: 1rem;
}
.news-item__title {
  font-size: 1.3rem;
}

.news-item__authorship {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  flex-wrap: wrap;
  color: var(--theme-subtext0);
}

.news-item__actions {
  display: flex;
  flex-direction: column;
  position: relative;
  --actions-button-height: 3.5rem;
}
.news-item__actions-collapse-button {
  height: var(--actions-button-height);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: inherit;
  color: inherit;
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-top: 0.1rem solid var(--theme-surface1);

  &:hover {
    cursor: pointer;
    background-color: color-mix(
      in srgb,
      var(--theme-base) 90%,
      var(--theme-text) 10%
    );
  }
}
.news-item__actions-collapse-button--closed {
  border-radius: 0 0 8px 8px;
}
.news-item__action-list {
  position: absolute;
  top: var(--actions-button-height);
  width: 100%;
  border-radius: 0 0 8px 8px;
  flex-direction: column;
  display: none;
  align-items: flex-start;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.4);
  background-color: var(--theme-base);
  margin-bottom: 1rem;
  .news-item__action-button:last-child {
    border-radius: 0 0 8px 8px;
  }
}
.news-item__action-list--open {
  display: flex;
}
.news-item__action-button {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  background-color: inherit;
  color: inherit;
  border: none;
  border-top: 0.1rem solid var(--theme-surface1);
  &:hover {
    cursor: pointer;
    background-color: color-mix(
      in srgb,
      var(--theme-base) 90%,
      var(--theme-text) 10%
    );
  }
}
.news-item__action-button--delete {
  color: var(--theme-red);
}
