.app {
  color: var(--theme-text);
  display: flex;
  flex-direction: column;
  header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 5%;
    width: 100%;
    .navigation {
      display: flex;
      width: 40%;
      justify-content: space-evenly;
      gap: 1rem;

      li {
        a {
          text-decoration: none;
        }
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .themes {
        .theme-options {
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
}
a {
  text-decoration: none;
  &:link {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
  &:active {
    color: inherit;
  }
}
