.app {
  color: var(--theme-text);
  display: flex;
  flex-direction: column;
  header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 5%;
    width: 100%;
    nav {
      display: flex;
      width: clamp(12rem, 20%, 16rem);
      .navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        li {
          a {
            text-decoration: none;
          }
        }
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .themes {
        .theme-options {
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
}
a {
  text-decoration: none;
  &:link {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
  &:active {
    color: inherit;
  }
}
